/* SECTION 1 */
.header {
  position: fixed;
  top: -2px ;
  z-index: 1;
  width: 100%;
  height: 70px;
  background-color: var(--major-bg-color);
  align-items: center;
  display: flex;
}

.header {
  margin-top: 2px;
  display: flex;
}

.header .nav_left{
  width: 1000px;
  margin-left: 20px;
  margin-right: 200px;
}

.header .amazon-logo {
  width: 100px;
  height: 30px;
  margin-top: 2px;
  display: flex;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
  background-color: #E6E6E6;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.dropdown .dropbtn {
  height: 45px;
  width: 70px;
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown .dropbtn .droptext{
  color: black;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.header .header-search {
  width: 900px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 10px !important;
}

.header .header-search .search-input {
  width: 700px;
  height: 45px;
  border: 1px solid #ccc;
  padding: 0 10px;
}

.header .header-search .search-button {
  width: 50px;
  height: 45px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: var(--amazon-major-color);
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #232323;
}

.header .nav_right{
  width: 100%;
}

.header .account{
  margin-left: 100px;
}

.header .account_create{
  color: #efefef;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 23px;
  padding-bottom: 23px;
  text-decoration: none;
}

.header .header-cart {
  color: #efefef;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
  text-decoration: none;
}

.header .header-cart svg {
  width: 40px;
  height: 40px;
  padding-top: 5px;
}

.product-heading {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}
.product-heading .product-head-container {
  margin: 20px;
}
.product-heading .product-head-container h1 {
  font-size: 30px;
  font-weight: bold;
  color: #121212;
}

/* SECTION 2 */
.product-detail {
  width: 100%;
  height: 700px;
}
.product-detail .product-container {
  margin: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}
.product-picture {
  width: 50%;
}
.product-picture img {
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(66, 66, 66, 0.1);
}
.product-detail-body {
  width: 30%;
}
.product-detail-body .product-title {
  font-size: 25px;
  font-weight: 500;
  color: #121212;
}
.product-detail-body .product-price {
  margin-top: 10px;
  font-size: 28px;
  font-weight: 500;
}
.product-detail-body .product-about {
  margin-top: 10px;
  color: #121212;
}
.product-detail-body .product-about h4 {
  font-size: 20px;
  font-weight: 500;
  color: #121212;
}
.product-detail-body .buttons {
  margin-top: 20px;
  display: flex;
  gap: 2px;
}
.product-detail-body .buttons .buy-now {
  width: 50%;
  border: none;
  background-color: #ffa41c;
  color: white;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
}
.product-detail-body .buttons .add-to-cart {
  width: 50%;
  border: 2px solid #ffa41c;
  color: #ffa41c;
  background-color: transparent;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
}

/* Section 3 */

.section-3 .section-3-container a:link, a:visited {
  display: block;
  text-align: center;
  padding: 15px 0;
  line-height: 22px;
  background-color: var(--accent-color);
  color: white;
  text-decoration: none;
}

.section-3 .section-3-container a:hover, a:active {
  background-color: #37485f;
}

/* FOOTER */
footer {
  font-size: 12px;
  width: 100%;
  height: 50px;
  color: white;
  background-color: var(--major-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hover1 figure:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.hover1 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.nav-footer{
  display: flex;
  background-color:#232F3E;
  justify-content: center;
  padding:5px;
  margin-top: 50px;
}

.nav-footer h4{
  font-size: 15px;
  font-weight: 600;
  color: #FFF;
}

.nav-footer p{
  font-size: 12px;
  padding:4px 0 4px;
  color: #DDD;
  font-family: inherit;
  text-decoration: none;
}

.nav-footer-left{
  display: table-cell;
  padding: 2% 6%;
}

.nav-footer-right{
  display: table-cell;
  padding: 2% 5%;
}